* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#table-area {
}

.table-head {
  height: 100px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.headArea {
  margin: 0 auto;

  background-color: aqua;
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 64px;
  font-weight: 100;
}

.table-list {
  margin: 0 auto;
  width: 1200px;
  height: 2000px;
}

/* .listArea {
  width: 1200px;
} */

.list-category {
  display: flex;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.list-category.listhead {
  font-weight: bold;
  background-color: #fffae0;

  /* 클래스안에 클래스 넣고 따로 지정했는데 작동 안함
  (invaild property value) */
}

.list-number {
  width: 80px;
  border-style: solid;
  border-width: 1px;
}

.list-name {
  width: 640px;
  border-style: solid;
  border-width: 1px;
}

.list-who {
  width: 160px;
  border-style: solid;
  border-width: 1px;
}

.list-day {
  width: 180px;
  border-style: solid;
  border-width: 1px;
}

.list-view {
  width: 80px;
  border-style: solid;
  border-width: 1px;
}

.list-rcd {
  width: 80px;
  border-style: solid;
  border-width: 1px;
}
